---
import CheckIcon from "./CheckIcon.astro";

interface Props {
	text: string;
}

const { text } = Astro.props;
---

<div class="display flex gap-2 items-center">
	<CheckIcon />
    <p class="subtitle flex-grow text-base text-left font-medium md:text-xl">
        {text}
	</p>
</div>
