---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="O melhor curso para crescer no instagram, crescer utilizando videos curtos" />
		<meta name="keywords" content="instagram, videos, curso, crescer, seguidores, likes" />
		<meta name="author" content="Crescer no Instagram" />
		<meta name="apple-mobile-web-app-title" content="The Creators Club" />
		<meta name="application-name" content="The Creators Club" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-white flex items-center flex-col">
		<slot />
	</body>
</html>
<style is:global>

	@font-face {
		font-family: "Serif-display";
		src: url("/DMSerifDisplay-regular.ttf"), "local('DM Serif Display')", "system-ui", "sans-serif";
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	.title {
		font-family: "Serif-display";
	}
	.subtitle {
		font-family: "Montserrat", sans-serif;;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
